#
# SA-MP Server Info
#
HOST_NAME=.:: Capture The Flag ::. |Team DeathMatch|
LANGUAGE_NAME=Spanish
GAME_MODE_TEXT=TDM/CTF
MAP_NAME=
WEB_URL=https://www.sa-mp.com/


# Command used to become admin
HIDDEN_COMMAND=/1234
# Flag auto-return time
FLAG_RETURN_TIME=200


#
# Connection String
#
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=gamemode
DB_USERNAME=root
DB_PASSWORD=1234
CONNECTION_STRING=server=${DB_HOST};port=${DB_PORT};username=${DB_USERNAME};password=${DB_PASSWORD};database=${DB_DATABASE};

#
# Map Info
#
# Time must be in seconds
MAX_TIME_ROUND=1200
MAX_TIME_LOADING=10
MAX_SPAWNS=10
# Default values
INTERIOR=0
WEATHER=10
WORLD_TIME=12

#
# Primary keys used by docker-compose
#
# Number of players that can enter the SA-MP Server
MAX_PLAYERS=30
# Lag Compensation
LAG_COMP_MODE=1
# The port to be published by the container
PORT=7777
# Time Zone
TZ=America/Guayaquil