server_log.txt
crashinfo.txt
samp.ban
pawno/
include/
CaptureTheFlag/runtimes/
CaptureTheFlag/.vs/
CaptureTheFlag/CaptureTheFlag/bin/
CaptureTheFlag/CaptureTheFlag/obj/
CaptureTheFlag/CaptureTheFlag/Properties/
.vs/
server.cfg
scriptfiles/config.ini