MariaDB__Server=localhost
MariaDB__Port=3306
MariaDB__Database=gamemode
MariaDB__UserName=root
MariaDB__Password=123456789

SQLite__DataSource=/home/runner/work/Capture-The-Flag/Capture-The-Flag/gamemode.db