MariaDB__Server=localhost
MariaDB__Port=3306
MariaDB__Database=gamemode
MariaDB__UserName=admin
MariaDB__Password=admin

SQLite__DataSource=/home/runner/work/Capture-The-Flag/Capture-The-Flag/gamemode.db